:root {
  --primary-color: #f8e231;
  --secondary-color: #2f3640;
  --tertiary-color: #56b3fa;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

h1 {
  color: var(--tertiary-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: var(--tertiary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--primary-color);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
}
