.footer {
    width: 100%;
    background-color: #D9D9D9;
    text-align: center;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}

.p{
    font-size: 15px;
        font-style: italic;
        background: linear-gradient(90deg, black, orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
}